services:
  data-db:
    image: mysql:8.0
    container_name: data-db
    environment:
      MYSQL_ROOT_PASSWORD: ${DATA_DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DATA_DB_NAME}
      MYSQL_USER: ${DATA_DB_USER}
      MYSQL_PASSWORD: ${DATA_DB_PASSWORD}
    volumes:
      - data_db_data:/var/lib/mysql
    networks:
      - data-backend
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u root --password=${DATA_DB_ROOT_PASSWORD}"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s

  user-db:
    image: mysql:8.0
    container_name: user-db
    environment:
      MYSQL_ROOT_PASSWORD: ${USER_DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${USER_DB_NAME}
      MYSQL_USER: ${USER_DB_USER}
      MYSQL_PASSWORD: ${USER_DB_PASSWORD}
    volumes:
      - user_db_data:/var/lib/mysql
    networks:
      - user-backend
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u root --password=${USER_DB_ROOT_PASSWORD}"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s

  user-manager:
    build: ./user_manager
    container_name: user-manager
    environment:
      DB_HOST: ${USER_MGR_DB_HOST}
      DB_PORT: ${MYSQL_PORT}
      DB_NAME: ${USER_DB_NAME}
      DB_USER: ${USER_DB_USER}
      DB_PASSWORD: ${USER_DB_PASSWORD}
      LISTEN_PORT: ${USER_MGR_PORT}
      GRPC_PORT: ${GRPC_PORT}
    depends_on:
      user-db:
        condition: service_healthy
    networks:
      - user-backend
      - grpc-network

  data-collector:
    build: ./data_collector
    container_name: data-collector
    environment:
      DB_HOST: ${DATA_COL_DB_HOST}
      DB_PORT: ${MYSQL_PORT}
      DB_NAME: ${DATA_DB_NAME}
      DB_USER: ${DATA_DB_USER}
      DB_PASSWORD: ${DATA_DB_PASSWORD}
      LISTEN_PORT: ${DATA_COL_PORT}
      OPEN_SKY_CLIENT_ID: ${OPEN_SKY_CLIENT_ID}
      OPEN_SKY_CLIENT_SECRET: ${OPEN_SKY_CLIENT_SECRET}
      USER_MGR_GRPC_HOST: ${USER_MGR_GRPC_HOST}
      USER_MGR_GRPC_PORT: ${GRPC_PORT}
    depends_on:
      data-db:
        condition: service_healthy
      user-manager:
        condition: service_started
    networks:
      - data-backend
      - grpc-network

  api-gateway:
    build: ./api_gateway
    container_name: api-gateway
    ports:
      - "${API_GTW_PORT}:${API_GTW_PORT}"
    depends_on:
      user-manager:
        condition: service_started
      data-collector:
        condition: service_started
    networks:
    - grpc-network

networks:
  data-backend:
  user-backend:
  grpc-network:

volumes:
  data_db_data:
  user_db_data:
